<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="distanceVeh">
            <h2><span jhiTranslate="tableAgricoleApp.distanceVeh.detail.title">Distance Veh</span> {{ distanceVeh.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tableAgricoleApp.distanceVeh.idDistanceVeh">Id Distance Veh</span></dt>
                <dd>
                    <span>{{ distanceVeh.idDistanceVeh }}</span>
                </dd>
                <dt><span jhiTranslate="tableAgricoleApp.distanceVeh.dscDistanceVeh">Dsc Distance Veh</span></dt>
                <dd>
                    <span>{{ distanceVeh.dscDistanceVeh }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/distance-veh', distanceVeh.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
