<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeAliment">
            <h2><span jhiTranslate="tableAgricoleApp.typeAliment.detail.title">Type Aliment</span> {{ typeAliment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tableAgricoleApp.typeAliment.idTypeAliment">Id Type Aliment</span></dt>
                <dd>
                    <span>{{ typeAliment.idTypeAliment }}</span>
                </dd>
                <dt><span jhiTranslate="tableAgricoleApp.typeAliment.dscTypeAliment">Dsc Type Aliment</span></dt>
                <dd>
                    <span>{{ typeAliment.dscTypeAliment }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-aliment', typeAliment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
