<div>
    <h2 id="page-heading">
        <span jhiTranslate="tableAgricoleApp.organisme.home.title">Organismes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisme" [routerLink]="['/organisme/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tableAgricoleApp.organisme.home.createLabel">
            Create a new Organisme
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="organismes?.length === 0">
        <span jhiTranslate="tableAgricoleApp.organisme.home.notFound">No organismes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="organismes && organismes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.idOrganisme">Id Organisme</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.nomOrganisme">Nom Organisme</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.adresseOrganisme">Adresse Organisme</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.phoneOrganisme">Phone Organisme</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.courrielOrganisme">Courriel Organisme</span></th>
                    <th scope="col" ><span jhiTranslate="tableAgricoleApp.organisme.territoire">Territoire</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let organisme of organismes ;trackBy: trackId">
                    <td><a [routerLink]="['/organisme', organisme.id, 'view']">{{ organisme.id }}</a></td>
                    <td>{{ organisme.idOrganisme }}</td>
                    <td>{{ organisme.nomOrganisme }}</td>
                    <td>{{ organisme.adresseOrganisme }}</td>
                    <td>{{ organisme.phoneOrganisme }}</td>
                    <td>{{ organisme.courrielOrganisme }}</td>
                    <td>
                        <div *ngIf="organisme.territoireId">
                            <a [routerLink]="['/territoire', organisme.territoireId , 'view']" >{{ organisme.territoireId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/organisme', organisme.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/organisme', organisme.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(organisme)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
